
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <h1 class="text-center">New Artist</h1>

    <%= render 'form' %>

    <button type="button" class="btn-small btn-default">
      <%= link_to 'Back', artists_path %>
    </button>
  </div>
</div>
